.bid_container {
    .bid_button {
        background-color: azure;
        color: black;

        &:active, &:focus {
            background-color: azure;
            color: black;
        }

        &:disabled {
            background-color: lightgray;
            color: white;
        }
    }
}