.scoreboard_container {
    padding: 0px 0px;
    font-size: medium;
    font-weight: bold;
    background-color: aliceblue;

    .player_score_container {
        border: 1px solid black;
        border-radius: 10px;
        margin: 0px;
    }

    .player_icon {
        text-align: right;
    }
    .player_name {
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .player_score {
        text-align: right;
    }
    .player_round_bid {
        font-size: small;
        font-weight: normal;
    }
    .player_round_score {
        font-size: small;
        font-weight: normal;
    }
}