.scoreboard_container {
    padding: 0px 0px;
    font-size: medium;
    font-weight: bold;
    background-color: aliceblue;

    .player_score_container {
        border: 1px solid black;
        border-radius: 10px;
        margin: 0px;
    }

    .player_name {
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .player_round_bid, .player_round_score, .player_total_score {
        text-align: left;
    }

    .player_total_score {
        border-left: 1px solid lightgray;
        text-align: right;
    }

    .player_round_bid, .player_round_score{
        font-size: small;
        font-weight: normal;
    }
    .badge_ok {
        background-color: transparent;
    }
    .badge_warning {
        background-color: orange;
    }
    
}